* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #1d1d1d;
}

svg {
    display: none;
    position: relative;
    display: block;
    /* margin: 20px auto; */
    width: 100%;
    height: 100%;
}

#hippo {
    visibility: hidden;
}

#circle {
    fill: white;
}

@media (max-width:600px) {
    svg {
        width: 100%;
        height: 100vh;
    }
}