* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    height: 100%;
    width: 100%;
    background-image: url(box.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.right {
    border: .1px solid black;
    gap: 2rem;
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-image: url(white.jpg);
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.left .box {
    height: 150px;
    width: 150px;
    background-color: #FEC5FB;
    border: 1px solid black;
    cursor: grab;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.left .hexagon {
    height: 150px;
    width: 150px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: #0AE448;
    cursor: grab;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right .cir {
    height: 150px;
    width: 150px;
    background-color: #FF8709;
    border-radius: 50%;
    border: 1px solid black;
    cursor: grab;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right .star {
    height: 170px;
    width: 170px;
    background-color: #00BAE2;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    cursor: grab;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}



@media (max-width:600px) {
    main {
        flex-direction: column;
    }
}